*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: Arial, Helvetica, sans-serif; */
    background: rgb(243, 235, 235);
    font-family: monospace;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    padding: 0;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
img{
    max-width: 100%;
}


/* headers */
header{
    background: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
    
}
i{
    padding: 0 .4em;
}
.header{
    /* border: 1px solid black; */
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1.5fr;
}
.logo > h1{
    font-size: 30px;
    font-weight: bold;
}
.search{
    gap: 1em;
    display: flex;
    align-items: center;
}
.search > input{
    width: 60%;
    padding: .7em 0;
    border-radius: 5px;
}
.search > ::placeholder {
    font-size: 1rem;
    font-family: monospace;
    /* font-weight: 600; */
}
.search > button{
    width: 20%;
    padding: 12px 16px;
    color: white;
    background: #f68b1e;
    border-radius: 5px;
    border-style: none;
    font-size: 14px;
}

 .icons > ul{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.tit{
    border: 1px solid blue;
    padding: .7em 0 ;

}
.tit:hover, .tit a:hover{
    color: #f68b1e;
    font-weight: bolder;
}
#tit li:first-child{
    position: relative;
}

#dropdown{
    z-index: 300;
    top: 2.9em;
    /* left: -30%; */
    position: absolute;
    border: 1px solid green;
    display: flex;
    flex-direction: column;

    /* justify-content: space-between; */
}
#dropdown li{
    padding: .4em;
    width: 100%;
    border: 1px solid blue;
}

button{
    background-color: #f68b1e;
    color: white;
    border-style: none;
    padding: .3em 3em;
    border-radius: 5px;
    /* width: 100%; */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.dropdowns{
    display: none;
}



/* body styles */
.cont{
    margin-top: 1em;
}
.carousel_container{
    display: grid;
    grid-template-columns: 19% 60% 19%;
    grid-gap: .7em;
    align-items: center;
    /* border: 1px solid rebeccapurple; */
}
.carousel >img{
    width: 100%;
    object-fit: contain;
    height: 100%;
    border-radius: 5px;
}
.carousel{
    position: relative;
}
.circles{
    position: absolute;
    bottom: .4em;
    left: 40%;
    display: flex;
    justify-content: space-between;
}
.circle{
    height:10px;
    width:10px;
    border-radius:100%;
    background:#ddd; 
    margin: 0 .4rem
}
.nav_slide{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    gap: 48.5em;
    
}

.arrows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.arrow{
    height:100%;
    width:70px;
    border: 1px solid blue;
    background:white; 

}

.slide:hover{
    z-index: 300;
    
    margin: 0 .4rem;
    color: white;
    display: flex !important;
    align-items: center;
    justify-content: center;

}

.items{
    background:white;
    padding:.5em 1em ;
    margin: 0;
    border-radius: 10px;
    /* border:.3px solid gray; */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.items p{
    padding: 0;
    margin: 5px 3px;
    line-height: 1.7;    
    font-size: 15px;
}

.extra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5em;
    align-items: center;
}
.extra img{
    border-radius: 5px;
    object-fit: contain;
    height: 100%;
    width: 100%;
}